<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} | {{ .Site.Title }}</title>

    <!-- Set up custom fonts. Needs to execute CSS as a template. This needs to run first. -->
    {{ $charterStyle := resources.Get "css/charter.css" }}
    {{ $processedStyles := $charterStyle | resources.ExecuteAsTemplate "css/charter-processed.css" . }}
    {{ $finalStyles := $processedStyles | minify }}
    <link rel="stylesheet" href="{{ $finalStyles.RelPermalink }}">

    {{ $style := resources.Get "css/post.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
 

    {{ $style3 := resources.Get "css/hover.css" | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style3.RelPermalink }}">
    {{ partial "analytics.html" . }}
</head>
<body>
    <button class="post-dark-mode-toggle" aria-label="Toggle dark mode">🌞</button>
    <div class="post-container">
        <header>
            <a href="{{ .Site.BaseURL }}" class="post-home-link">{{ .Site.Title }}</a>
        </header>
        {{ block "main" . }}{{ end }}
    </div>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
 


        function toggleDarkMode() {
            document.body.classList.toggle('dark-mode');
            const toggle = document.querySelector('.post-dark-mode-toggle');
            if (document.body.classList.contains('dark-mode')) {
                toggle.textContent = '🌜';
                toggle.setAttribute('aria-label', 'Switch to light mode');
            } else {
                toggle.textContent = '🌞';
                toggle.setAttribute('aria-label', 'Switch to dark mode');
            }
        }

        document.querySelector('.post-dark-mode-toggle').addEventListener('click', toggleDarkMode);
    });
    </script>
</body>
</html>
